/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 10px;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

h1, h3 {
    color: #333;
}

.inline {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4;
}

.verse {
    font-style: italic;
    color: #888;
}


/* Added styles for the new post box */
.new-post-box {
    border: 2px solid #000;
    padding: 20px;
    margin: 20px;
}

.new-post-box input,
.new-post-box textarea {
    display: block;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

.new-post-box button {
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}